/bin/
out/
.idea/
.allure/
allure-results/
ExportData/
ExtentReports/
ExtentReports.zip
logs/
target/
test-output/
CucumberReports/
HDSD.txt
*.png
*.jpg
*.jpeg
*.zip
*.iml
screenshots/
allure-report/
exports/
